/* footer->padding */
.footer{
    padding:50px 0 0 40px;
    line-height: 1.6;
}
/* ul>li字体设置 */
.footer>.container>.row>div>ul>li{
    list-style: none;
}
/* h5>a */
.footer>.container>.row>div>h5>a{
    color: #333;
    text-decoration: none;
}
/* ul>li>a */
.footer>.container>.row>div>ul>li>a{
    text-decoration: none;
    color:#333;
}
/* h5>a鼠标悬停 */
.footer>.container>.row>div>h5>a:hover{
    color: #0fc7d1;
}
/* ul>li鼠标悬停 */
.footer>.container>.row>div>ul>li>a:hover{
    color: #0fc7d1;
}
/* 000-000-0000 */
.footer>.container>.row>div{
    text-align: center;
}
.footer>.container>.row>div>em>a{
    text-decoration: none;
    font-size:1.5rem;
    color:#0fc7d1;
}
.footer>.container>.row>div>em>a:hover{
    color:#17dee9;
}
/* 24小时服务热线 */
.footer>.container>.row>div>p>a{
    color:#333;
    text-decoration: none;
}
.footer>.container>.row>div>p{
    text-align: center;
    margin-bottom: 10px;
}
.footer>.container>.row>div>p>a:hover{
    color:#0fc7d1;
}
/* img */
.footer>.container>.row>div>a>img{
    margin-right: 5px;
}
.footer>.container>.row>div:last-child{
    margin:0 8px;
}
/* foot */
.foot{
    border-top:1px solid rgb(230, 228, 228);
    padding:20px;
    text-align: center;
}
.foot>.container>p{
    color:#333;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin:0;
    line-height: 1.8;
}
.foot>.container>p>a{
    color:#0fc7d1;
    text-decoration: none;
}
.foot>.container>p>a:first-child{
    font-weight: bold;
}