*{
    margin:0;
    padding:0;
}
.container{
    padding:0 !important;
}
/* 轮播 */

/* 加载条 */
#demo{
    position: relative;
}
.carousel-inner>.daohang{   
    position: absolute;
    bottom: 0px;
    background:rgba(0,0,0,.3);
    height: 40px;
    z-index: 1000;
}
.carousel-inner>.daohang>.container>.row>div{
    line-height: 40px;
    text-align: center; 
}
.carousel-inner>.daohang>.container>.row>div>a{
    color:#fff;
    padding:10px;
    font-size:17px;
}
.carousel-inner>.daohang>.container>.row div>a:hover{
    height:40px;
    color:#0fc7d1;
    text-decoration: none;
} 
/* 查看更多 */
.more>.container>.row>div>img{
    margin:30px 0 0;
    width:360px;
}
.more>.container>.row>div>a{
    text-decoration: none;
    display: block;
    margin-top:8px;
}
.more>.container>.row>div>a>h5{
    color:#0fc7d1;
}
.more>.container>.row>div>a>h5:hover{
    color:#13e3ee;
}
/* 查看更多--按钮 */
.travel>.more>.container>a{
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #0fc7d1;
    border: 1px solid #0fc7d1;
    margin-top: 50px;
    text-decoration: none;
}
.travel>.more>.container>a:hover{
    background:#0fc7d1;
    color: #fff;
}
/* target */
.travel>.target{
     padding:50px;
}
/* 目的地div */
.travel>.container>a:hover{
    background:#0fc7d1;
    color:#fff;
}
.target>.container>.title-box{
    height: 70px;
}
.target>.container>.title-box>.head>p.desc{
    width: 38px;
    height: 2px;
    background: #0fc7d1;
}
.target>.container>.title-box>.head>h3{
    margin-top: 22px;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
}
.target>.container>.title-box>.head{
    text-align:left;
    float: left;
}
/* 目的地右侧ul */
.target>.container>.title-box>ul{
    list-style: none;
    float: right;
}
.target>.container>.title-box>ul>li{
    float: left;
    height: 70px;
    line-height: 70px;
}
.target>.container>.title-box>ul>li>a{
    color:#333;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
}
.target>.container>.title-box>ul>.active>a{
    background:#0fc7d1; 
    color:#fff;    
}
.target>.container>.title-box>ul>li>a:hover{
    background:#0fc7d1; 
    color:#fff;
}

/* target_body */
.target_body>.container{
    padding-right: 0;
}
.target_body>.container>.row>:first-child>img{
    margin-left: 0;
}
.target_body>.container>.row>div>img{
    margin:20px;
}
.target_body>.container>.row>div>h4{
    padding:10px 20px 20px 0;
    margin-left: 20px;
}
.target_body>.container>.row>:first-child>h4{
    margin-left: 0;
}
.target_body>.container>.row>div>h4>a{
    display: block;
    text-align: center;
    text-decoration: none;
    color:rgb(82, 79, 79);
    font-size:16px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.target_body>.container>.row>div>h4>p{
    color:#737b83f3;
    font-size:12px;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* 查看更多按钮 */
.travel>.target>.container>a{
    display: block;
    margin: 0 auto;
    width: 120px;
    padding: 5 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #0fc7d1;
    border: 1px solid #0fc7d1;
    margin-top: 30px;
    text-decoration: none;
}
.travel>.target>.container>a:hover{
    background:#0fc7d1;
    color: #fff;
}
/* 关于我们 */
.travel>.about{
    padding: 50px;
    height: 505px;
    background: url("../img/about/about_1.jpg") no-repeat center;
    background-size: cover;
    /* background: url(bg-img.jpg) no-repeat center center fixed; */
}
.travel>.about>.head{
    margin-bottom: 25px;
}

/* about */
.travel>.about>.container>.about_use>.head>h3{
    margin-top: 22px;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
    margin-top: 22px;
}
.about>.container>.about_use>.contain{
    position: relative;
    height:320px;
}
/* about > p __ */
.travel>.about>.container>.about_use>.head>.desc{
    width: 38px;
    height: 2px;
    background: #0fc7d1;
}
/* 左浮动 */
.about>.container>.about_use>.contain>.left{
    float: left;
    position: absolute;
    width: 42%;
    z-index: 10;
    top:20px;
}
/* about_img */
.about_img>img{
    padding:20px;
}
/* 右浮动 */
.about>.container>.about_use>.contain>.right{
    float: left;
    position: relative;
    background: #fff;
    width: 1140px;
    text-align: left;
    padding: 5px 20px;
    top: 130px;
}
/* p */
.about>.container>.about_use>.contain{
    position: relative;
}
.about>.container>.about_use>.contain>.right{
    position: absolute;
    bottom: 0;
}
.about>.container>.about_use>.contain>.right>.text{
    background:#fff;
    font-size: 14px;
    color: #999;
    line-height: 1.5;
    margin: 0;
    padding: 27px 0;
    visibility: inherit;
    opacity: 1;
    height:173px;
}
.about>.container>.about_use>.contain>.right>.text>.desc{
    margin-left: 44%;
}
.about>.container>.about_use>.contain>.right>.text>.desc>a{
    display: block;
    width: 120px;
    padding: 5 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #0fc7d1;
    border: 1px solid #0fc7d1;
    margin-top: 22px;
    text-decoration: none;
}
.about>.container>.about_use>.contain>.right>.text>.desc>a:hover{
    background:#0fc7d1;
    color: #fff;
}

/* 热门路线 */
.travel>.hot{
    padding:30px;
    margin-top:30px;
    width:100%;
}
.travel>.hot>.head{
    text-align: center;
    margin-bottom:30px;
}
/* title */
.travel>.hot>.head>.title{
    font-size: 32px;
    color: #333;
    height: 45px;
} 
/* span.line 绝对定位 */
.travel>.hot>.head>.line{
    color: #999;
    position: relative;
}
/* before */
.travel>.hot>.head>.line::before{
    content: '';
    position: absolute;
    left: -45px;
    top: 50%;
    background-color:  rgb(189, 187, 187);
    width: 40px;
    height: 2px;
}
/* after */
.travel>.hot>.head>.line::after{
    content: '';
    position: absolute;
    right: -45px;
    top: 50%;
    background-color: rgb(189, 187, 187);
    width: 40px;
    height: 2px;
}
/* hot>titile>contain>date */
.travel>.hot>.row{
    margin:0;
}
.travel>.hot>.row>.contain{
    padding:50px 27px 0;
}
.travel>.hot>.row>.contain>.date{
    font-weight: 300;
    font-family: HELVETICANEUELTPRO-THEX;
    color: #999;
    display: inline-block;
    padding: 0 22px 0 0;
    float: left;
    font-size: 20px;
    margin-bottom: 0;
}
.travel>.hot>.row>.contain>.title{
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(102, 99, 99);
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
}
.travel>.hot>.row>.contain>.description{
    text-align: left;
    color: #999;
    line-height: 25px;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    font-size: 13px;
}
.travel>.hot>.row>.hot_img{
    padding:0;
    width:460px;
}
.travel>.hot>.row>.hot_img>img{
    width:100%;
}
/* 左、右三角 */
.travel>.hot>.btn{
    display: flex;
    justify-content: center;
    margin-top:22px;
}
.travel>.hot>.btn>div>a:hover{
    background: #0fc7d1;
    color: white;
}
.travel>.hot>.btn>div>a{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 55px;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    color:#888;
}
.travel>.hot>.btn>div:first-child{
    margin-right: 15px;
}
.travel>.hot>.btn>div:last-child{
    margin-left: 15px;
}


/* 特色酒店 */
/* hotel>head */
.travel>.hotel{
    width: 100%;
    height: 1300px;
    padding:50px 0;
}
.travel>.hotel>.container>.head{
    text-align: center;
}
.travel>.hotel>.container>.head>h2{
    font-size: 32px;
    color: #333;
    height: 45px;
}
.travel>.hotel>.container>.head>p{
    color: #999;
}
/* hotel>box */
.hotel>.container>.box>.contain{
    width: 50%;
    padding: 0 15px;
    float: left;
}
.hotel>.container>.box>.contain>img{
    display: block;
    width: 100%;
    border-radius: 3px;
}
.hotel>.container>.box>.contain>.hotel_msg{
    padding:20px 80px 31px 25px;
}
.hotel>.container>.box>.contain>.hotel_msg>a{
    text-decoration: none;
    color:#333; 
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}
.hotel>.container>.box>.contain>.hotel_msg>p{
    line-height: 1.8;
    font-size: 13px;
    color:#999;
}

/* 海豚 */
.travel>.dolphin{
    width:100%;
    height: 226px;
    background-image: url(../img/background/backgorud.jpg);
}
.travel>.dolphin>.container>.row{
    text-align: center;
    padding:51.25px 0;
}
.travel>.dolphin>.container>.row>.data_1>h5{
    font-size:60px;
    color:#fff;
}
.travel>.dolphin>.container>.row>.data_1>p{
    font-size:18px;
    color:#fff;
}

/* 旅行者专栏 */
.travel>.column{
    height: 358px;
}
.travel>.column>.container{
    height: 358px;
    padding: 50px 0;
}
.travel>.column>.container>.row>.left{
    height:56px;
    line-height: 56px;
    padding:0;
}
.travel>.column>.container>.row>.left>.head{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.travel>.column>.container>.row>.left>.head>h3{
    color:#333;
    margin: 0;
    height: 56px;
    line-height: 56px;
}

.travel>.column>.container>.row>.left>.head>ul{
    list-style: none;
}
.travel>.column>.container>.row>.left>.head>ul>li{
    float: left;
    padding-right:5px;
}
.travel>.column>.container>.row>.left>.head>ul>.bord{
    color:rgb(165, 164, 164);
    cursor: pointer;
}
.travel>.column>.container>.row>.left>.head>ul>li:nth-child(2){
    color: #0fc7d1;
}
/* 左右小箭头 */
.travel>.column>.container>.row>.left>.head>ul>.three{
    font-size: 20px;
    color:rgb(110, 107, 107);
    cursor: pointer;
}

/* body */
.travel>.column>.container>.row>.left>.body{
    width: 438.5px;
    height: 205px;
    float: left;
}
.travel>.column>.container>.row>.left>.body>img{
    padding-right: 6px;
    width:123px;
    height: 100px;
    float: left;
    margin-top:7px;
}
.travel>.column>.container>.row>.left>.body>.column_ll{
    float: right;
    width: 310px;
}
.travel>.column>.container>.row>.left>.body>.column_ll>h4{
    width: 290px;
    margin-bottom: 8px;
    line-height: 1.25rem;
}
.travel>.column>.container>.row>.left>.body>.column_ll>p{
    width:290px;
    margin: 0;
}
.travel>.column>.container>.row>.left>.body>.column_ll>h4>a{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color:#5c5757;
    font-weight: 600;
    text-decoration: none;
}
.travel>.column>.container>.row>.left>.body>.column_ll>h4>a:hover{
    color:#0fc7d1;
}
.travel>.column>.container>.row>.left>.body>.column_ll>p{
    margin:0;
    line-height: 1.5em;
    color:#999;
    font-size: 12px;
}
.travel>.column>.container>.row>.left>.body>.column_ll>span{
    color:#999;
}
.column>.container>.row>.left>.body{
    width: 438.5px;
    height: 205px;
    float: left;
}
/* right */
.column>.container>.row>.right>.head{
    text-align: center;
    margin:50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.column>.container>.row>.right>.head>h3{
    width: 120px; 
    height:36px;
}
.column>.container>.row>.right>.head>a{
    font-size: 14px;
    height:44px;
    line-height: 44px;
    display: inline-block;
    color: #707070;
    text-decoration: none;
}
.column>.container>.row>.right>.head>a:hover{
    color:#0fc7d1;
}
/* 旅记攻略 ul>li */
.column>.container>.row>.right>ul{
    list-style-type: none;
    margin-top:20px;
}
.column>.container>.row>.right>ul>li{
    padding-bottom: 5px;
}
.column>.container>.row>.right>ul>li>a{
    text-decoration: none;
    color:#707070;
    font-size: 14px;
}
.column>.container>.row>.right>ul>li>a:hover{
    color:#0fc7d1;
}
/* 友情链接 */
.travel>.footer_link>.container{
    text-align: center;
    border-top:1px solid rgb(236, 233, 233);
    border-bottom: 1px solid rgb(236, 233, 233);
    height: 58px;
    line-height: 58px;  
}
.travel>.footer_link>.container>ul{
   list-style: none; 
}
.travel>.footer_link>.container>ul>li{
    display: inline;
}
.travel>.footer_link>.container>ul>li:first-child{
    color:#333;
    font-size:18px;
}
.travel>.footer_link>.container>ul>li:not(:first-child){
    color:#999;
}
.travel>.footer_link>.container>ul>li>img{
    width: 53.33px;
    height: 40px;
    cursor: pointer;
}